:root {
  --primary: #134E5E;
  --secondary: #71B280;
  --bg: #f5f7f6;
  --text: #111;
  --card: #ffffff;
}

body.dark {
  --bg: #0f1f24;
  --text: #ffffff;
  --card: #162f36;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.phone, .lock {
  background: var(--card);
  padding: 20px;
  width: 280px;
  border-radius: 18px;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.block { background: red; color:white; }
.allow { background: var(--secondary); color:white; }
.bt { background: var(--primary); color:white; }

.green { color: var(--secondary); }
.red { color: red; }
